<ion-view view-title="recept">
  <ion-content>
    <ion-list ng-repeat="recept in recepten">
      <ion-item>
		{{ recept.foto }}
	  </ion-item>
	  <ion-item>
		Naam: {{ recept.naam }}
		 </ion-item>
		<ion-item>
		Leeftijd: {{ recept.leeftijd }}
		</ion-item>
		<ion-item>
		geslacht: {{ recept.geslacht }}
		</ion-item>
		<ion-item>
		Haarkleur: {{ recept.haarkleur }}
		</ion-item>
		<ion-item>
		Lengte: {{ recept.lengte }} cm
		</ion-item>
		<ion-item>
		Oogkleur: {{ recept.oogkleur }}
		</ion-item>
		<ion-item>
		Woonplaats: {{ recept.woonplaats }}
		</ion-item>
		<ion-item>
		Laatstgezien: {{ recept.laatstgezien }}
		</ion-item>
		<ion-item>
		Beschrijving: {{ recept.beschrijving }}
      	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>

